body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    padding: 15px;
    background-color: #b0aeab;
}
.navebar{
    box-shadow: inset;
    background-color: rgb(12, 12, 12, 50%);
    color: rgb(227, 211, 211);
    padding: 0.5vh;
    display: flex;
    justify-content: center;
    border-radius: 1.5vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

.navebar a{
    text-decoration: none;
    color: white;
}

.navebar span{
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: auto;
    margin-bottom: auto;
}

.navebar span a:hover{
    display: inline-block;
    color: rgb(0, 0, 0);
    background: radial-gradient(circle, #7e7d78 0%, #ffffff 40%, transparent 100%);
}

.navebar #about{
    margin-right: auto;
}

.logo{
    height: 5vh;
    width: auto;
    margin-right: auto;
    margin-left: 10vh;
}

.content{
    display: flex;
    margin-left: 3vh;
    margin-right: 10vh;
    height: 100%;
}

.prensentation{
    background-color: darkseagreen;
    width: auto;
}

.sidebar{
    list-style: none;
    width: 30%;
    background-color: #7e7d78;
    margin: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5vh;
    height: 100%;
    margin-right: 3vh;
}
.sidebar li button{
    display: flex;
    width: 30vh;
    padding: 0.5vh;
    margin: 1vh;
    border-radius: 0.5vh;
    border-style: none;
    justify-content: center;
    transition: transform 0.5s ease;
}

.sidebar button:hover{
    transform: rotate(360deg);

}

