body{
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    padding: 15px;
    background-color: #b0aeab;
}
.navebar{
    box-shadow: inset;
    background-color: rgb(12, 12, 12, 50%);
    color: rgb(227, 211, 211);
    padding: 0.5vh;
    display: flex;
    justify-content: center;
    border-radius: 1.5vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

.navebar a{
    text-decoration: none;
    color: white;
}

.navebar span{
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: auto;
    margin-bottom: auto;
}

.navebar span a:hover{
    display: inline-block;
    color: rgb(0, 0, 0);
    background: radial-gradient(circle, #7e7d78 0%, #ffffff 40%, transparent 100%);
}

.navebar #about{
    margin-right: auto;
}

.logo{
    height: 5vh;
    width: auto;
    margin-right: auto;
    margin-left: 10vh;
}

.content{
    display: flex;
    margin-left: 3vh;
    margin-right: 10vh;
    height: 100%;
}

.prensentation{
    background-color: darkseagreen;
    width: auto;
}

.sidebar{
    list-style: none;
    width: 30%;
    background-image: url(bloodborne_sidebar.png);
    margin: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5vh;
    height: 100%;
    margin-right: 3vh;
    transition: background 0.3s;
}

.readBG{
    background-image: url(bg2.png);
}

.updateBG{
    background-image: url(createbg.png);
}

.deleteBG{
    background-image: url(bgdelete.png);
}

.createBG{
    background-image: url(createbg.png);
}

.sidebar li button{
    display: flex;
    background-color: rgba(3, 53, 3, 0.795);
    color: white;
    font-weight: 400;
    width: 30vh;
    padding: 0.5vh;
    margin: 1vh;
    border-radius: 0.5vh;
    border-style: none;
    justify-content: center;
    transition: transform 0.5s ease;
}

.sidebar button:hover{
    transform: rotate(360deg);

}

#manager{
    padding: 2vh;
    background-color: #7e7d78;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.atributeScore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}
.atributeScore input{
    width: auto;
    margin: 0.3vh;
    margin-bottom: 2vh;
}